@model Cinema_MVC.ViewModels.ShowingViewModel
@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book</h2>

<table class="table">
    <tr class="table-info">
        <th>Movie</th>
        <th>Screening Time</th>
        <th></th>
    </tr>

    @foreach (var item in Model.showings)
    {

<tr class="table-light">
    <td>@item.Movie.Name</td>
    <td>@item.Showtime.ToString("g")</td>
    <td> <a href="@("/Showing/Book/"+item.Id)">Book Tickets</a></td>
</tr>}
</table>