
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Page</h2>

<a href="/Movies/New/" class="btn btn-link mt-10" role="button">Add New Movie</a><br />
<a href="/Theaters/New/" class="btn btn-link" role="button">Add New Theater</a><br />
<a href="/Showings/New/" class="btn btn-link" role="button">Add New Showing</a><br />

<a href="/Theaters/Index/" class="btn btn-link" role="button">Edit Theaters</a><br />
<a href="/Showings/Index/" class="btn btn-link" role="button">Edit Showings</a><br />
<a href="/Movies/List/" class="btn btn-link" role="button">Edit Movies</a><br />